.Customer-Details-form label {
    color: #000000;
    font-family: Titillium Web, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.Customer-Details-form .btn {
    background: #133460;
    border-radius: 10px !important;
    color: #fff;
    border: 0px solid transparent;
    padding: 10px;
    font-weight: 700;
    font-family: Titillium Web, sans-serif;
}

.Customer-Details-form .btn1 {
    background: #DBDCDD;
    border-radius: 10px !important;
    color: #666666;
    border: 0px solid transparent;
    padding: 10px;
    font-weight: 700;
    font-family: Titillium Web, sans-serif;
}

.Customer-Details-form .btn1:hover {
    background: #133460;
    border-radius: 10px !important;
    color: #fff;
    border: 0px solid transparent;
    padding: 10px;
}

.tp-section .p-tabview-title {
    color: #083A50;
    font-family: Titillium Web, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.tp-section .p-tabview-nav-link:hover {
    border: solid #133460 !important;
    border-width: 0 0 3px 0 !important;
}

.tp-section .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: #133460 !important;
}




.tp-section {
    box-shadow: 1px 3px 8px 0px #E3EDF9;
    // border-radius: 15px;
}

.meun-left .active-li:active {
    background: #F4F9FD;
    color: #070707;
}

.meun-left .btn-items:hover {
    background: #F4F9FD;
    color: #070707;
    border-right: 5px solid #133460;
}

.meun-left .btn-items:focus {
    background: #F4F9FD;
    color: #070707;
}

.meun-left .btn-items {
    color: #7D8592;
    margin: 10px 0;
    padding: 0px 20px;
    font-family: Titillium Web, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    align-content: center;
    border-radius: 10px;
}

.meun-left .card {
    border: 0px solid transparent !important;
    box-shadow: 1px 3px 8px 0px #E3EDF9;
}


// Custome Fields
.Custome-Fields-2 label {
    color: #000000;
    font-family: Titillium Web, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.Custome-Fields-2 .btn {
    background: #133460;
    border-radius: 10px !important;
    color: #fff;
    border: 0px solid transparent;
    padding: 10px;
    font-weight: 700;
    font-family: Titillium Web, sans-serif;
}

.Custome-Fields-2 .btn1 {
    background: #DBDCDD;
    border-radius: 10px !important;
    color: #666666;
    border: 0px solid transparent;
    padding: 10px;
    font-weight: 700;
    font-family: Titillium Web, sans-serif;
}

.Custome-Fields-2 .btn1:hover {
    background: #133460;
    border-radius: 10px !important;
    color: #fff;
    border: 0px solid transparent;
    padding: 10px;
    font-weight: 700;
    font-family: Titillium Web, sans-serif;
}

// Billing & Shipping
.tp-headingt h6 {
    color: #083A50;
    font-family: Titillium Web, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1Export to CSV5px;
}

.btn-edit .btn{
    background: #133460;
    border-radius: 10px !important;
    color: #fff;
    border: 0px solid transparent;
    padding: 10px;
    font-weight: 700;
    font-family: Titillium Web, sans-serif;
}

.billing-form3 label {
    color: #000000 !important;
    font-family: Titillium Web, sans-serif !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}