.p-selectable-row td{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
  }
  .expenses-top .list-inline{
display: flex;
justify-content: end;
  }
  .propsal-add textarea
    { height: 50px;
    
}
.p-button-icon-only{
  background: #133460;
  border:1px solid #133460;
  }
  @media screen and (max-width:767px){
    .expenses-top .list-inline{
      display: ruby;
    }
    .expenses-top .list-inline button {
      width: 44%;
      margin: 0px !important;
      margin-left: 5px !important;
     
      margin-top: 10px !important;
  }
  .expenses-top .btn-item .btn1{
    margin-left: 5px;
  }
  .expenses-top .dropdown-container{
   width: 49%;
  }
  .customer-tbl [role="columnheader"] .p-column-title{
    font-size: 12px !important;
    width: 100px !important;
  }
  .customer-tbl th{
    padding: 10px;
  }

  .customer-tbl .p-selectable-row td {
font-size: 12px;
padding: 10px 5px;
}
.customer-tbl .p-selection-column[role="columnheader"] .p-column-title{
width:0px !important;


}
.customer-tbl{
margin-top:20px;
}
  }
  
@media screen and (min-width:768px) and (max-width:1024px){
  .customer-tbl [role="columnheader"] .p-column-title{
    font-size: 14px !important;
    width: 100px !important;
  }
  .customer-tbl .p-selection-column[role="columnheader"] .p-column-title{
    width:0px !important;
    
    
    }
}