a {
    text-decoration: none !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.leadsgrid-style-flex {
    font-size: 10px;
    color: rgba(128, 128, 128, 0.603);
}

.tbody,
td,
tfoot,
th,
thead,
tr {
    padding: 12px 16px !important;
    text-transform: capitalize;
}
